<% provide :title, @user.name %>

<h1><%= @user.name %></h1>
<span id="follow_form">
  <%= render "follow_form", user: @user %>
</span>
<a href="<%= user_followers_path @user %>">
  <b id="followers"><%= @user.followers.count %></b> <%= t ".followers" %>
</a>
<a href="<%= user_following_index_path @user %>">
  <b id="following"><%= @user.following.count %></b> <%= t ".following" %>
</a>

<% if @user == current_user %>
  <div class="list-group-item">
    <%= render "lessons/form" %>
  </div>
<% end %>

<h2><%= t(".lessons", count: @pagy.count) %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t ".lesson" %></th>
      <th scope="col"><%= t ".created_at" %></th>
      <th scope="col"><%= t ".result" %></th>
      <th scope="col"><%= t ".action" %></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.full_title %></td>
        <td><%= l(lesson.created_at, format: :day) %></td>
        <td><%= t(".right_choices", count: lesson.right_choices.size) %></td>
        <td>
          <% if lesson.not_answer? %>
            <% if @user == current_user %>
              <%= link_to t(".answer"), edit_lesson_path(lesson) %>
            <% else %>
              <%= t ".not_answer" %>
            <% end %>
          <% elsif lesson.answered? %>
            <%= link_to t(".view"), lesson_path(lesson) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>
