<% provide :title, @user.name %>

<h1><%= @user.name %></h1>
<div class="list-group-item">
  <%= render "lessons/form" %>
</div>

<h2><%= t(".lessons", count: @pagy.count) %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t ".lesson" %></th>
      <th scope="col"><%= t ".created_at" %></th>
      <th scope="col"><%= t ".status" %></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.category.title %></td>
        <td><%= l(lesson.created_at, format: :day) %></td>
        <td><%= lesson.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>
