<% provide :title, t(".word_list") %>
<h1><%= t ".word_list" %></h1>
  <%= link_to t(".new_word"), new_word_path, class: "btn btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t ".word" %></th>
      <th scope="col"><%= t ".meaning" %></th>
      <th scope="col"><%= t ".category" %></th>
      <th scope="col"><%= t ".status" %></th>
      <th scope="col">
        <%= t(".action") if current_user.has_role? :admin %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.content %></td>
        <td><%= word.right_answer.content if word.right_answer.present? %></td>
        <td><%= word.category.title %></td>
        <td></td>
        <td>
          <%= link_to t(".edit"), edit_word_path(word) if current_user.has_role? :admin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>
